@if(showPinModal()) {
<ng-container>
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h2>⚠️ Server Error</h2>
            </div>
            <div class="modal-body">
                <p class="error-message">Server is currently down</p>

                <div class="pin-input-container" *ngIf="!pinError">
                    <input type="password" [(ngModel)]="enteredPin" (keypress)="onKeyPress($event)"
                        class="border-0 outline-0 p-0" autocomplete="off" />
                </div>

                <div *ngIf="pinError" class="error-alert">
                    Try Again Later...
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="submitPin()" class="ok-button" [disabled]="pinError">
                    OK
                </button>
            </div>
        </div>
    </div>
</ng-container>
}